<app-navbar></app-navbar>
<div class="container mt-3 animated fadeIn">
  <div class="row">
    <div class="col-2">
      <button
        [routerLink]="['/cliente/detalles', cliente?.id]"
        class="btn btn-sm btn-outline-primary"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
    <div class="col-6">
      <h1>Programacion de: {{ cliente?.nombre }}</h1>
    </div>

    <div class="col-4">
      <form [formGroup]="forma" (ngSubmit)="buscarPorFecha()">
        <input
          type="date"
          formControlName="fecha"
          [max]="fechaActual | date: 'yyyy-MM-dd'"
        />

        <input
          class="btn btn-outline-secondary ml-3"
          type="submit"
          value="Buscar"
        />
      </form>
    </div>
    <!-- [value]="fechaActual | date: 'yyyy-MM-dd'"
        [max]="fechaActual | date: 'yyyy-MM-dd'" -->
  </div>
  <hr />

  <div
    *ngIf="historialCronograma.length == 0 && cargador"
    class="alert alert-warning"
    role="alert"
  >
    No tiene Programaciones de hoy.
  </div>

  <div *ngIf="historialCronograma.length > 0">
    <div class="card text-center">
      <div class="card-header">Featured</div>
      <div
        *ngFor="let historial of historialCronograma; let i = index"
        class="card-body"
      >
        <div class="row">
          <div class="col-2">
            <!-- Izquierda -->
            <div
              class="card text-right"
              *ngIf="historial.hora_de_inicio != '00:00:00'"
            >
              <div class="card-body">
                <h3>{{ historial.hora_de_inicio | slice: 0:5 }}</h3>
              </div>

              <button
                *ngIf="compararFechaAndHora(historial)"
                class="btn-sm btn-primary"
                (click)="eliminarReproduccion(historial)"
              >
                Eliminar
              </button>

              <!-- <button
                *ngIf="reproduciendoActualmente(historial, i)"
                class="btn-sm btn-primary"
              >
                Actual
              </button> -->
            </div>
          </div>
          <div class="col-6">
            <!-- Multimedias -->
            <div class="card">
              <div class="card-body">
                <h3 class="text-center">Multimedias</h3>
                <img
                  style="width: 180px"
                  class="img-fluid"
                  src="assets\images\icono_imagen.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <!-- Televisores -->
            <div class="card text-left">
              <div class="card-body">
                <h3 class="text-center">Televisores</h3>
                <ul class="list-group list-group-flush">
                  <li
                    *ngFor="
                      let televisor of historial?.televisores_pagination
                        .televisores
                    "
                    class="list-group-item"
                  >
                    {{ televisor.ubicacion }}
                  </li>
                </ul>
              </div>
            </div>
            <!-- Paginacion de los televisores -->
            <div class="row justify-content-center mt-3">
              <app-paginacion-pequenia
                *ngIf="historial?.televisores_pagination.pageable"
                [paginador]="historial?.televisores_pagination.pageable"
                (emitir_evento_del_paginador)="
                  getTelevisoresByhistorialIdWithPagination($event, historial)
                "
              ></app-paginacion-pequenia>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <app-paginacion
          *ngIf="paginador && ruta"
          [paginador]="paginador"
          [componente]="ruta"
        ></app-paginacion>
      </div>
    </div>
  </div>

  <!-- *ngIf="
                  historial?.televisores?.length > 0 ||
                  paginador?.total_de_paginas > 1
                " -->
</div>
