<div class="container">
  <div class="row justify-content-center">
    <div class="btn-group mb-4" role="group" aria-label="Basic example">
      <button
        routerLinkActive="active"
        routerLink="actual"
        type="button"
        class="btn btn-secondary"
      >
        Reprod. Actualmente
      </button>
      <button type="button" class="btn btn-secondary">Sin usar</button>
    </div>
  </div>
  <div class="col-12">
    <!-- Las rutas -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="card animated fadeIn">
  <div class="card-header text-center">Multimedias</div>
  <div class="card-body">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let multimedia of multimedias; let i = index"
          class="list-group-item"
        >
          <img
            *ngIf="multimedia.tipo_archivo.startsWith('image')"
            [src]="verArchivo(multimedia.id)"
            alt=""
            style="width: 64px; cursor: pointer"
          />
          <div *ngIf="multimedia.tipo_archivo.startsWith('video')">
            <video
              style="width: 80px; cursor: pointer"
              controls
              poster="assets\images\icono_video.png"
            >
              <source [src]="verArchivo(multimedia.id) | domSeguro" />
              Tu navegador no soporta vídeo
            </video>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->
