<app-navbar></app-navbar>
<div class="container mt-3">
  <h1>Cliente: {{ cliente?.nombre }}</h1>
  <hr />
  <div class="card text-center">
    <div class="card-body">
      <!-- Campo para elegir la hora -->
      <form class="form-inline" [formGroup]="formad">
        <div class="form-group row mb-2">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm ml-3"
            >Hora:
          </label>
          <div class="col-2">
            <input
              formControlName="hora"
              type="time"
              class="form-control form-control-sm"
              id="colFormLabelSm"
              placeholder="col-form-label-sm"
            />
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-6">
          <!-- Aqui van a estar las multimedias -->
          <app-imagenes
            (multimediasEscogidas)="
              getMultimediasDesdeImagenesComponent($event)
            "
          ></app-imagenes>
        </div>
        <div class="col-6">
          <!-- Aqui van a estar los televisores -->
          <div class="card text-center">
            <div class="card-header">Televisores</div>
            <div class="card-body">
              <div
                *ngFor="let televisor of paginador?.entities"
                class="col-auto my-1"
              >
                <div class="custom-control custom-checkbox mr-sm-2">
                  <form [formGroup]="formad">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      [id]="getLabelAndFor(televisor)"
                      [value]="televisor"
                      [checked]="marcarElCheckboxes(televisor)"
                      (change)="onCheckboxChange(televisor, $event)"
                    />
                    <label
                      class="custom-control-label"
                      [for]="getLabelAndFor(televisor)"
                      >{{ televisor.ubicacion }}</label
                    >
                  </form>
                </div>
              </div>
              <!-- Aqui va la paginacion -->
              <div
                *ngIf="paginador?.total_de_paginas > 1"
                class="row justify-content-center mt-3"
              >
                <ul class="pagination">
                  <!-- << Pasar a la pagina anterior -->

                  <li
                    class="page-item"
                    [ngClass]="
                      paginador?.primera_pagina
                        ? 'disabled page-item'
                        : 'page-item'
                    "
                  >
                    <a class="page-link mouse" (click)="paginaAnterior()"
                      >&laquo;</a
                    >
                  </li>

                  <!-- >> Pasar a la proxima pagina -->

                  <li
                    class="page-item"
                    [ngClass]="
                      paginador?.ultima_pagina
                        ? 'disabled page-item'
                        : 'page-item'
                    "
                  >
                    <a class="page-link mouse" (click)="paginaSiguiente()"
                      >&raquo;</a
                    >
                  </li>
                </ul>
              </div>
              <!-- Fin de la paginacion -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 justify-content-center">
    <button (click)="guardar()" class="btn btn-primary">Done</button>
  </div>
</div>

<!-- <div class="col-12">
  <pre>
  Estado del Formulario: {{ formad.valid }}
  Status: {{ formad.status }}
  </pre>
  <pre>
  {{ formad.value | json }}
  </pre>
</div> -->
