<app-navbar></app-navbar>
<div class="container mt-3">
  <div class="row">
    <div class="col-2">
      <button
        [routerLink]="['/cliente/detalles', cliente?.id]"
        class="btn btn-sm btn-outline-primary"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
    <div class="col-8">
      <h1>Cliente: {{ cliente?.nombre }}</h1>
    </div>
  </div>
  <hr />
  <div class="card text-center">
    <div class="card-body">
      <!-- Campo para elegir la hora -->
      <form class="form-inline" [formGroup]="formad">
        <div class="form-group row mb-2">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm ml-3"
            >Hora:
          </label>
          <div class="col-2">
            <input
              formControlName="hora"
              type="time"
              class="form-control form-control-sm"
              id="colFormLabelSm"
              placeholder="col-form-label-sm"
            />
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-6">
          <!-- Aqui van a estar las multimedias -->
          <app-imagenes
            (multimediasEscogidas)="
              getMultimediasDesdeImagenesComponent($event)
            "
          ></app-imagenes>
        </div>
        <div class="col-6">
          <!-- Aqui van a estar los televisores -->
          <div class="card text-center">
            <div class="card-header">Televisores</div>
            <div class="card-body">
              <div *ngFor="let televisor of televisores" class="col-auto my-1">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <form [formGroup]="formad">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      [id]="getLabelAndFor(televisor)"
                      [value]="televisor"
                      [checked]="marcarElCheckboxes(televisor)"
                      (change)="onCheckboxChange(televisor, $event)"
                    />
                    <label
                      class="custom-control-label"
                      [for]="getLabelAndFor(televisor)"
                      >{{ televisor.ubicacion }}</label
                    >
                  </form>
                </div>
              </div>
              <!-- Aqui va la paginacion -->
              <div class="row justify-content-center mt-4">
                <app-paginacion-pequenia
                  *ngIf="paginador_televisor"
                  [paginador]="paginador_televisor"
                  (emitir_evento_del_paginador)="
                    getTelevisoresByClienteId($event)
                  "
                ></app-paginacion-pequenia>
              </div>
              <!-- Fin de la paginacion -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 justify-content-center">
    <button
      [disabled]="formad.invalid"
      (click)="guardar()"
      class="btn btn-primary"
    >
      Done
    </button>
  </div>
</div>

<div class="col-12">
  <pre>
  Estado del Formulario: {{ formad.valid }}
  Status: {{ formad.status }}
  </pre>
  <pre>
  {{ formad.value | json }}
  </pre>
</div>
