<!-- <div *ngIf="!loading" class="container animated fadeIn"> -->

<div class="row">
  <div class="col-4">
    <h3>Seleccione archivos</h3>
    <div
      appNgDropFiles
      [archivos]="archivos"
      (mouseSobre)="estaSobreDrop = $event"
      [ngClass]="{ 'file-over': estaSobreDrop }"
      class="well drop-zone"
    >
      <h4>Deje caer aqui los archivos.</h4>
      <img src="assets/images/drop-images.png" />
    </div>
  </div>
  <div class="col-8">
    <h4>Cargar archivos</h4>
    <button
      class="btn btn-success"
      [disabled]="archivos.length === 0"
      (click)="cargarArchivos()"
    >
      Cargar
    </button>
    <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre de archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td>{{ archivo.nombreArchivo }}</td>
          <td>{{ archivo.archivo.size / 1024 / 1024 | number: ".2-2" }} MB</td>
          <td>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: archivo.progreso + '%' }"
              ></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-12">
  <div class="form-group row">
    <label class="col-2 col-form-label">Televisores</label>
    <div class="col-12">
      <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="col-12">
          <select class="form-control" formControlName="ids">
            <option value="">Seleccione los televisores</option>
            <option
              *ngFor="let televisor of televisores"
              [value]="televisor.id"
            >
              {{ televisor.ubicacion }}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-12">
  <pre>
    Estado del Formulario: {{ forma.valid }}
    Status: {{ forma.status }}
    </pre
  >
  <pre>
    {{ forma.value | json }}
    </pre
  >
</div>
