<div class="card animated fadeIn">
  <div class="card-header text-center">Imagenes</div>
  <div class="card-body">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let multimedia of multimedias; let i = index"
          class="list-group-item"
        >
          <form [formGroup]="forma">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customControlAutosizing"
                [value]="multimedia"
                [checked]="marcarElCheckboxes(multimedia)"
                (change)="onCheckboxChange(multimedia, $event, i)"
              />
              <label class="custom-control-label" for="customControlAutosizing">
                <img
                  *ngIf="multimedia.tipo_archivo.startsWith('image')"
                  [src]="verArchivo(multimedia.id)"
                  alt=""
                  style="width: 64px; cursor: pointer"
                />
              </label>
            </div>
          </form>
        </li>
      </ul>
    </div>

    <div>
      <!-- <app-paginador *ngIf="paginador" [paginador]="paginador"></app-paginador> -->
    </div>
  </div>
</div>
<div>
  <button (click)="salvar()" class="btn btn-primary">Done</button>
</div>

<!-- <div class="col-12">
  <pre>
  Estado del Formulario: {{ forma.valid }}
  Status: {{ forma.status }}
  </pre>
  <pre>
  {{ forma.value | json }}
  </pre>
</div> -->

<!-- <td>
    <form [formGroup]="forma">
      <input
        type="checkbox"
        class="form-check-input"
        id="gridCheck1"
        [value]="multimedia"
        [checked]="marcarElCheckboxes(multimedia)"
        (change)="onCheckboxChange(multimedia, $event, i)"
      />
    </form>
  </td>
  <td>
    <img
      *ngIf="multimedia.tipo_archivo.startsWith('image')"
      [src]="verArchivo(multimedia.id)"
      alt=""
      style="width: 64px; cursor: pointer"
    />
    <div
      *ngIf="multimedia.tipo_archivo.startsWith('video')"
      class="embed-responsive embed-responsive-1by1"
    >
      <video controls poster="assets\images\icono_video.png">
        <source [src]="verArchivo(multimedia.id) | domSeguro" />
        Tu navegador no soporta vídeo
      </video>
    </div>
  </td>
  <td>{{ multimedia.archivo }}</td>
</tr> -->
