<app-navbar></app-navbar>
<div class="container mt-3">
  <div class="row justify-content-between">
    <h1 class="">Cliente: {{ cliente?.nombre }}</h1>
    <button
      [routerLink]="['/televisor/create', cliente?.id]"
      class="btn btn-primary"
    >
      Crear Televisor
    </button>
  </div>
  <hr />

  <div *ngIf="televisores.length == 0" class="alert alert-warning" role="alert">
    No tiene televisores.
  </div>

  <div *ngIf="televisores.length > 0">
    <div class="row justify-content-around mb-4">
      <div>
        <button
          class="btn btn-primary"
          [routerLink]="['/multimedia/cliente', cliente?.id]"
        >
          Agregar Multimedias
        </button>
        <button
          class="btn btn-primary ml-2"
          [routerLink]="['/cliente/multimedia/delete', cliente?.id]"
        >
          Eliminar Multimedias
        </button>
      </div>
      <button
        class="btn btn-primary ml-1"
        [routerLink]="['/historial', cliente?.id, 'page', 0]"
      >
        Programacion del Cliente
      </button>
      <button
        class="btn btn-primary ml-1"
        [routerLink]="['/cronograma', cliente?.id]"
      >
        Crear Programacion
      </button>
    </div>

    <div class="card border-primary mb-3">
      <div class="card-body text-primary">
        <!-- <a routerLink="/clientes" class="btn btn-primary">Clientes</a> -->
        <h3 class="text-center">Listado de Televisores</h3>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>id</th>
              <th>ubicacion</th>
              <th>multimedias</th>
              <th>editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let televisor of televisores">
              <td>{{ televisor.id }}</td>
              <td>{{ televisor.ubicacion }}</td>

              <td>
                <a
                  [routerLink]="['/multimedias/televisor', televisor.id]"
                  class="btn btn-primary"
                  >Multimedias</a
                >
              </td>
              <td>
                <a
                  [routerLink]="['/televisor/update', televisor.id]"
                  class="btn btn-primary"
                  >Editar</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center">
      <app-paginacion
        *ngIf="paginador"
        [paginador]="paginador"
        [componente]="ruta"
      ></app-paginacion>
    </div>
  </div>
</div>
