<!-- <div *ngIf="!loading" class="container animated fadeIn"> -->
<app-navbar></app-navbar>
<div class="container mt-3">
  <div class="row justify-content-center">
    <!-- <button
      [routerLink]="['/cliente/detalles', cliente?.id]"
      class="btn btn-primary"
    >
      Atras
    </button> -->
    <h1>Cliente: {{ cliente?.nombre }}</h1>
  </div>

  <div
    class="row"
    (drop)="prevenirImagenOpen($event)"
    (dragover)="prevenirImagenOpen($event)"
  >
    <div class="col-8">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Nombre de archivo</th>
            <th>Tamaño</th>
            <th>Progreso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of archivos">
            <td>{{ archivo.nombreArchivo }}</td>
            <td>
              {{ archivo.archivo.size / 1024 / 1024 | number: ".2-2" }} MB
            </td>
            <td>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [ngStyle]="{ width: archivo.progreso + '%' }"
                ></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h3>Seleccione archivos</h3>
      <div
        appNgDropFiles
        [archivos]="archivos"
        [tamanioImagenEnMB]="tamanioImagenEnMB"
        [tamanioVideoEnMB]="tamanioVideoEnMB"
        (mouseSobre)="estaSobreDrop = $event"
        [ngClass]="{ 'file-over': estaSobreDrop }"
        class="well drop-zone"
      >
        <h4>Deje caer aqui los archivos.</h4>
        <img src="assets/images/drop-images.png" />
      </div>
      <div class="row flex-column align-items-center mt-3">
        <h4>Cargar archivos</h4>
        <div class="row">
          <button
            class="btn btn-success mr-2"
            [disabled]="archivos.length === 0"
            (click)="cargarArchivos()"
          >
            Cargar
          </button>
          <button (click)="limpiarArchivos()" class="btn btn-danger ml-2">
            Limpiar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="mensaje_validacion"
    class="alert alert-warning alert-dismissible fade show mt-5"
    role="alert"
  >
    {{ mensaje_validacion }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
